@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  @apply h-full;
}

html {
  @apply h-full;
}

#root {
  @apply h-full;
}

#__next {
  @apply h-full;
}

th {
  font-weight: 400;
}

th,
td {
  padding: 1rem;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-remove {
  color: white;
  background-color: #f56565;
  border-radius: 0.25rem;
  text-align: center;
  cursor: pointer;
}

.btn-remove:hover span {
  display: none;
}

.btn-remove:hover:before {
  content: "X";
}

.photo:hover span::before {
  content: "Edit photo";
}

.amenities:hover .show-amenities {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  position: absolute;
  background-color: white;
  transform: translate(-50%);
  z-index: 999;
}